.checkbox-style {
  background-color: white;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  transition: background-color 0.3s ease;
}

.checkbox-style:checked {
  background-color: #3498db;
}
