@import "tailwindcss";

#root {
  font-family: "Inter";
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #8d2525;
  border-radius: 10px;
}
